*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

footer {
    margin: 100px 80px 30px 80px;
    height: 100px;
    font-size: 1rem;
    display: flex;
    font-weight: 550;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: space-between;
}

footer a {
    color: #000;
}

/*--------------ID--------------*/

#logo {
    height: 100px;
    margin: 25px;
}

#slogan {
    margin: 80px;
    color: white;
    width: 700px;
    line-height: 150px;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 6rem;
}

#about img {
    height: 50px;
}

#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#best-seller {
    position: relative;
    margin: 125px 80px 100px 80px;
    height: auto;
}

#best-seller h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 3rem;
}

#all-plants {
    position: relative;
    margin: 0 80px;
    height: 150vh;
}

#all-plants h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 3rem;
}

/*--------------/ID--------------*/


/*--------------CLASS--------------*/

.card {
    margin: 40px 0 0 0;
    display: flex;
    font-size: 1rem;
    font-weight: 550;
    width: 190px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card img {
    margin: 15px;
}

.best-plants {
    position: relative;
    min-height: 500px;
    width: 100%;
    margin: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.plants-card {
    position: relative;
    height: 500px;
    min-width: 350px;
}

.plants-card:nth-child(1){
    background: url('assets/nos_meilleures_ventes/1.jpg') center no-repeat;
    flex: 1;
    background-size: 100%;
}

.plants-card:nth-child(2){
    background: url('assets/nos_meilleures_ventes/2.jpg') center no-repeat;
    flex: 1;
    background-size: 100%;
}

.plants-card:nth-child(3){
    background: url('assets/nos_meilleures_ventes/3.jpg') center no-repeat;
    flex: 1;
    background-size: 100%;
}

.plants-card:nth-child(4){
    background: url('assets/nos_meilleures_ventes/4.jpg') center no-repeat;
    flex: 1;
    background-size: 100%;
}

.plants-title {
    font-family: Arial, sans-serif;
    font-weight: 550;
    font-size: 1.2rem;
    margin: 20px 0 0 20px;
}

.plants-price {
    font-family: Arial, sans-serif;
    font-weight: 550;
    font-size: 0.9rem;
    margin: 0 0 0 20px;
    color: rgba(16,187,0,0.47);
}

.plants-info {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
}

.our-plants {
    position: absolute;
    width: 100%;
    top: 8%;
    height: 92%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.our-plants-card {
    position: relative;
}

.plant-1 {
    background: url("assets/nos_plantes/1.jpg") no-repeat center;
    background-size: cover;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.plant-2 {
    background: url("assets/nos_plantes/2.jpg") no-repeat center;
    background-size: cover;
    grid-column: 3 / span 4;
    grid-row: 1;
}

.plant-3 {
    background: url("assets/nos_plantes/3.jpg") no-repeat center;
    background-size: cover;
    grid-column: 3 / span 4;
    grid-row: 2;
}

.plant-4 {
    background: url("assets/nos_plantes/4.jpg") no-repeat center;
    background-size: cover;
    grid-column: 1;
    grid-row: 3 / span 4;
}

.plant-5 {
    background: url("assets/nos_plantes/5.jpg") no-repeat center;
    background-size: cover;
    grid-column: 2 / span 3;
    grid-row: 3 / span 4;
}

.plant-6 {
    background: url("assets/nos_plantes/6.jpg") no-repeat center;
    background-size: cover;
    grid-column: 4;
    grid-row: 3 / span 4;
}

/*--------------/CLASS--------------*/


/*--------------GENERAL--------------*/

a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header {
    height: 850px;
    background: url("assets/bg.jpg");
}

/*--------------/GENERAL--------------*/

@media (max-width: 580px) {

    #slogan {
        color: red;
    }

}